body
{
	background-image: url("http://referentiel.nouvelobs.com/file/6510824.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed ; 
	background-size:100%;
	margin-top: 20px;
	font-family: ms mincho ;
}
.tab1
{
	margin-top: 150px ;

}
