body
{
	background-image: url("http://localhost/projects/POO-2/asset/image/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed ; 
	margin-top: 20px;
	font-family: ms mincho ;
}
.tab1
{
	margin-top: 150px ;

}