body
{
	background-image: url("https://github.com/nejostar/mini-combat-game/raw/master/asset/image/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed ; 
	margin-top: 20px;
}
.tab1
{
	margin-top: 150px ;

}
